variables:
  TURBO_TELEMETRY_DISABLED: 1

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never
    - if: $CI_COMMIT_BRANCH
    - if: $CI_COMMIT_REF_PROTECTED == "true"


stages:
  - prepare
  - test
  - openapi
  - docker


build-ci-image:
  cache: [ ]
  stage: prepare
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: always
    - when: manual
      allow_failure: true
  image:
    name: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/docker:cli
  services:
    - name: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/docker:dind
      alias: docker
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - cd .build-image
    - docker build -t $CI_REGISTRY/training/bulletin-backend/bulletin-backend-build:latest .
    - docker push $CI_REGISTRY/training/bulletin-backend/bulletin-backend-build:latest

test:
  image:
    name: $CI_REGISTRY/training/bulletin-backend/bulletin-backend-build
    docker:
      user: develop
  stage: test
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - .pnpm-store/
  script:
    - "pnpm config set store-dir $CI_PROJECT_DIR/.pnpm-store"
    - "pnpm install --frozen-lockfile"
    - "pnpm run lint"
    - "pnpm run test"
    - "pnpm run build"
  artifacts:
    paths:
      - '__openapi__'
      - 'dist'
      - 'drizzle'

openapi:
  image:
    name: $CI_REGISTRY/training/bulletin-backend/bulletin-backend-build
    docker:
      user: develop
  stage: openapi
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: always
    - when: manual
      allow_failure: true
  needs:
    - test
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - .pnpm-store/
  script:
    - "pnpm config set store-dir $CI_PROJECT_DIR/.pnpm-store"
    - "pnpm install --frozen-lockfile"
    - "pnpm run generate:openapi"
    - "cd $CI_PROJECT_DIR/__openapi__/angular-client"
    - "pnpm install"
    - "pnpm run build"
    - "cd $CI_PROJECT_DIR/__openapi__/fetch-client"
    - "pnpm install"
    - "pnpm run build"
  artifacts:
    paths:
      - '__openapi__'

publish:
  image:
    name: $CI_REGISTRY/training/bulletin-backend/bulletin-backend-build
    docker:
      user: develop
  stage: openapi
  rules:
    - when: manual
      allow_failure: true
  needs:
    - openapi
  script:
    - "pnpm config set //$CI_SERVER_HOST/api/v4/projects/170/packages/npm/:_authToken=$CI_JOB_TOKEN"
    - "cd $CI_PROJECT_DIR/__openapi__/angular-client/dist"
    - "pnpm publish --tag beta"
    - "cd $CI_PROJECT_DIR/__openapi__/fetch-client"
    - "pnpm publish --tag beta"


production-build:
  image:
    name: $CI_REGISTRY/training/bulletin-backend/bulletin-backend-build
    docker:
      user: develop
  stage: docker
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: always
    - when: manual
      allow_failure: true
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - .pnpm-store/
  script:
    - "pnpm config set store-dir $CI_PROJECT_DIR/.pnpm-store"
    - "pnpm install --frozen-lockfile"
    - "pnpm run build"
  artifacts:
    paths:
      - '__openapi__'
      - 'dist'
      - 'drizzle'
      - 'node_modules'

docker-image:
  cache: [ ]
  stage: docker
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: always
    - when: manual
      allow_failure: true
  needs:
    - production-build
  image:
    name: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/docker:cli
  services:
    - name: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/docker:dind
      alias: docker
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $CI_REGISTRY/training/bulletin-backend/bulletin-backend-deploy:latest .
    - docker push $CI_REGISTRY/training/bulletin-backend/bulletin-backend-deploy:latest
